<div class="container my-3">
  <h2 class="h5">Cart</h2>
  <div class="mb-3 align-items-center d-flex">
    <label for="tableInput" class="form-label fw-semibold me-2 mb-0" >Table</label>
    <input type="text"
           id="TableInput"
           class="form-control form-control-sm"
           [(ngModel)]="table"
           style="width: 80px;"
           name="mesa"
           required
           placeholder="# table">
    <div *ngIf="!table && submitted" class="text-danger small mt-1">
      Table is required.
    </div>
  </div>

  <div *ngIf="(items$ | async) as items; else empty">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-end">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-end">Subtotal</th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of items">
            <td>{{ i.product.name }}</td>
            <td class="text-end">${{ i.product.price | number:'1.2-2' }}</td>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group" aria-label="qty">
                <button class="btn btn-outline-secondary" (click)="decrease(i)">−</button>
                <button class="btn btn-light" disabled>{{ i.qty }}</button>
                <button class="btn btn-outline-secondary" (click)="inccrease(i)">+</button>
              </div>
            </td>
            <td class="text-end">${{ i.subtotal | number:'1.2-2' }}</td>
            <td class="text-end">
              <button class="btn btn-outline-danger btn-sm" (click)="remove(i)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3" class="text-end">Total</th>
            <th class="text-end">${{ (total$ | async) || 0 | number:'1.2-2' }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button class="btn btn-outline-secondary btn-sm" (click)="clear()">Clear</button>
      <button class="btn btn-success btn-sm" (click)="submit()" >Checkout</button>
    </div>
  </div>

  <ng-template #empty>
    <div class="alert alert-light border">Your cart is empty.</div>
  </ng-template>
</div>
